/*导航*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration:none;
}
#nav{
    width: 100%;
    height: 60px;
    background:linear-gradient(to top left,rgba(255,255,255,.5),rgba(0,0,0,.7));
    /*background:rgba(0,0,0,.2);*/
    position: fixed;
    top:0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-around;
}
#nav li{
    width: 100px;
    height: 60px;
    font-size: 22px;
    text-align: center;
    margin: 0 10px;
    line-height: 60px;
    color: #fff;
    font-family: monospace;
}
#nav li.active{
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2),0 5px 10px rgba(0,0,0,0.25);

}
#nav li a{
    color: #fff;
}



.slide{
    color: #fff;
    font-size: 36px;
    text-align: center;
    position: relative;
}
.section{
    font-size: 72px;
    color: #fff;
    text-align: center;
}
.section:nth-child(1){
    background: url("../img/b.jpg") 50% no-repeat;
}
.section:nth-child(2){
    background:url("../img/demo-1-bg.jpg") 50% no-repeat;
}
.section:nth-child(3){
    background:url("../img/e.jpg") 50% no-repeat;
    /*background:url("../img/demo-2-bg.jpg") 50% no-repeat;*/
}
.section:nth-child(4){
    background:url("../img/3.jpg") 50% no-repeat;

}
.section:nth-child(5){
    background:url("../img/xiangji.jpg") 50% no-repeat;
   /*  background:url("../img/1.jpeg");
    background-size: 1390px 1200px; */
    /* filter: blur(2px); */
}
.mask{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.4);
}
.large{
    position: absolute;
    z-index: 999;
}
#mydiv{
    position: absolute;
    z-index: 999;
}
/*头像*/
.box{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 83px;
    left: 604px;
    z-index: 999;

}
.img-box{
    width: 100%;
    height: 100%;
    background: pink;
    border-radius: 50%;
}
.img-box img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.zhezhao{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    transition: .5s;
}
.kuang{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid #ff9449;
    border-bottom:10px solid #2d63ff;
    box-sizing: border-box;
    border-top: 10px solid #26ff55;
    border-left: 10px solid purple;
    position: absolute;
    left: 0;
    top: 0;
    transition: .5s .5s;
}
.box:hover .zhezhao{
    background: rgba(0, 0, 0, .5);
}
.box:hover .kuang{
    transform: rotate(360deg);
}

.title{
    position: absolute;
    width: 100%;
    height: 150px;
    top:300px;
    left: 0;
    margin: -50px auto;
    text-shadow: 0 -5px 4px #fdff2b,2px -10px 6px #fd3,-2px -15px 11px #ff3586,2px -25px 18px #f20;
    color: #ff1521;
    font-size: 80px;
    font-family: monospace;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.childtitle{
    top: 400px;
    width: 100%;
    font-size: 36px;
    position: absolute;
    text-shadow: 1px 1px white,-1px -1px #333;
    color:#D1D1D1;
    /*background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(245, 245, 255)), to(rgb(103, 255, 139)));*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    font-family: monospace;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@keyframes title1 {
    0%{
        transform: rotateY(180deg);
        text-shadow: 0 -5px 4px #fdff2b,2px -10px 6px #fd3,-2px -15px 11px #ff3586,2px -25px 18px #f20;
    }
    /*100%{*/
        /*transform: rotate(-360deg);*/
        /*text-shadow: 0 -5px 4px #fdff2b,2px -10px 6px #fd3,-2px -15px 11px #ff3586,2px -25px 18px #f20;*/
    /*}*/

}
.title1{
    animation: title1 2s;
}

/*3-1*/
.content{
    width: 1200px;
    height: 100%;
    position: absolute;
    z-index: 100;
    display: flex;
    line-height: 100%;
    justify-content:space-around;
    left: 0;
    top:0;
    bottom: 0;
    right: 0;
}
.content .div{
    margin-top: 200px;
    width: 290px;
    height: 200px;
}
p{
    font-size:24px;
    color: #fff;
    font-family: serif;
    letter-spacing: 4px;
}

/*3-2*/
.nav{
    width:970px;
    height: 550px;
    margin: 100px auto;
}
.nav ul li{
    position: relative;
    list-style: none;
    float: left;
    margin: 30px 20px;
    width: 124px;
    height: 70px;
    background: rgba(245, 245, 255, 0.5);
}
.nav ul li:before,.nav ul li:after{
    content: "";
    position: absolute;
    transform: rotate(60deg);
    left: 0;
    top: 0;
    width: 124px;
    height: 70px;
    background: rgba(245, 245, 255, 0.5);
}
.nav ul li:after{
    position: absolute;
    transform: rotate(-60deg);
}
.nav ul.ul-l{
    width: 398px;
    height: 100%;
    float: left;
}
.nav ul.ul-l li:nth-child(3){
    margin-left:100px;
}
.nav ul.ul-r{
    width: 398px;
    height: 100%;
    float: right;
}
.nav ul.ul-r li:nth-child(3){
    margin-left:100px;
}
@keyframes li {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
.key{
    animation: li 2s linear infinite;
}
.nav ul li img{
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
}
.nav-info{
    position: absolute;
    width: 180px;
    height: 180px;
    top: 215px;
    right: 628px;
    border-radius: 20px;
}
.nav-info ul{
    position: relative;
    width: 100%;
    height: 100%;
}

.nav-info ul li{
    padding-top: 10px;
    font-family: cursive;
    font-size: 22px;
    color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius:20px;
    display: none;
    text-wrap: normal;
    letter-spacing:2px;
    text-overflow-ellipsis: ellipsis;
    /*text-indent:2em;*/
    transition: all cubic-bezier(0,1.38,.4,.03);
    background: url("../img/00.jpg");
}



/*第二页*/
/*音乐*/
/*.music{width: 50px;height: 1px;position: absolute;*/
    /*top:100px;right: 20px}*/
/*.music i{width: 4px;height: 5px;position: absolute;bottom:0;background-color: #576ccc;}*/
/*.music i:nth-of-type(1){left:0;}*/
/*.music i:nth-of-type(2){left:8px;}*/
/*.music i:nth-of-type(3){left:16px;}*/
/*.music i:nth-of-type(4){left:24px;}*/
/*.music i:nth-of-type(5){left:32px;}*/
/*.music i:nth-of-type(6){left:40px;}*/
/*.music.active i:nth-of-type(1){-webkit-animation:wave 0.66s linear infinite;animation:wave 0.66s linear infinite;}*/
/*.music.active i:nth-of-type(2){-webkit-animation:wave 0.8s linear infinite;animation:wave 0.8s linear infinite;}*/
/*.music.active i:nth-of-type(3){-webkit-animation:wave 0.7s linear infinite;animation:wave 0.7s linear infinite;}*/
/*.music.active i:nth-of-type(4){-webkit-animation:wave 0.5s linear infinite;animation:wave 0.5s linear infinite;}*/
/*.music.active i:nth-of-type(5){-webkit-animation:wave 0.9s linear infinite;animation:wave 0.9s linear infinite;}*/
/*.music.active i:nth-of-type(6){-webkit-animation:wave 1.2s linear infinite;animation:wave 1.2s linear infinite;}*/
/*@-webkit-keyframes wave{*/
    /*0%{height:8px}*/
    /*50%{height: 32px}*/
    /*100%{height: 12px}*/
/*}*/
/*@keyframes wave{*/
    /*0%{height:8px}*/
    /*50%{height: 32px}*/
    /*100%{height: 12px}*/
/*}*/

.section3-inner1{
    position: absolute;
    right:0;
    top: 200px;
    width:900px;
    height:400px;
    border-radius: 30px;
    background: rgba(255,255,255,.3);
    overflow: hidden;
}
.section3-inner1 .geren{
    font-size: 36px;
    font-family: cursive;
}
.geren-content{
    width: 100%;
    height: 320px;
    background:rgba(0,0,0,.2);
    padding: 20px 20px;
    font-size: 16px;
    font-family: cursive;
    overflow: hidden;
}
.geren-content .info-title{
    font-size:30px;
    width: 300px;
    height: 100%;
    float: left;
    line-height: 100%;
    text-align: center;
    position: relative;
    border-right: 1px dashed #ccc;
}
.info-title img{
    width: 200px;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top:0;
    opacity: .5;
    transition: all 1s;
}
.info-title img:hover{
    opacity: 1;
}
.info-title .data{
    display: block;
    width: 50px;
    height: 100%;
    padding-top: 25px;
    position: absolute;
    line-height: 2;
    left:225px;
}


.info{
    position: relative;
    width: 600px;
    height: 100%;
}

.info1{
    width: 600px;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    /*display: none;*/
    opacity:0;
    transition: all 1s;
}
.info1.active{
    z-index: 2;
    display: block;
    opacity: 1;
}
.info1 li{
    width: 100%;
    height: 45px;
    margin:5px 10px ;
    font-size: 20px;
    text-align: left;
    line-height: 45px;
    /*color: orange;*/
    color: #c0c0c0;
    border-bottom: 1px dashed #ccc;
}
.info1 li span{
    margin-left: 10px;
    color: #fff;
}

.about,.about1{
    width: 100px;
    height: 500px;
    float: left;
    margin-left: 200px;
    font-family: cursive;
    position: absolute;
    top:70px;
    left:-7px;
    z-index: 2;
    color: #2e6da4;
    display: none;
    /*color: rgba(255,255,255,.5);*/
}
.about1{
    position: absolute;
    top:65px;
    left: -14px;
    bottom: 0;
    color: #f0f0f0;
    display: none;
}
.about-child{
    position: absolute;
    top:80px;
    left:-100px;
    width: 30px;
    height: 500px;
    font-size: 18px;
    padding-top: 2px;
    text-shadow: 3px 3px 3px rgba(0,0,0,.5);
    font-family:cursive ;
}
@keyframes anima {
    0%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0px);
    }
}
.anima{
    animation: anima 1s;
    display: block;
    left: 300px;
}
@keyframes about {
    0%{
        transform: translateX(1500px);
    }
    100%{
        transform: translateX(0px);
    }
}
.abouts{
    animation: about 1s;
    display: block;
}







/*第四页*/
/*轮播图*/
img{border:0;}
li{list-style:none;}
html{width:100%;height:100%;}
#pic{position:relative;overflow:hidden;height:400px;width:890px;z-index:2;margin:0 auto 100px;}
#pic ul{width:100%;height:100%;position:absolute;top:0;left:0;}
#pic ul li{position:absolute;}
#pic ul img{position:relative;top:0;left:0;}
#pic ul li span{
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    /*color: #eee;*/
    /*text-shadow: 5px 5px 0 #666, 7px 7px 0 #eee;*/
    color: #fff;
    text-shadow: -1px -1px rgba(197, 223, 248,0.8),-2px -2px rgba(197, 223, 248,0.8),-3px -3px rgba(197, 223, 248,0.8),-4px -4px rgba(197, 223, 248,0.8),-5px -5px rgba(197, 223, 248,0.8),-6px -6px rgba(197, 223, 248,0.8);
    font-size: 36px;
    display: none;
    transition: 1s;
}
#pic ul li:hover span{
    display: block;
}
/*图片位置*/
#pic ul .pic1{top:-80px;left:2px;z-index:1;}
#pic ul .pic2{top:110px;left:88px;z-index:2;}
#pic ul .pic3{top:80px;left:174px;z-index:3;}
#pic ul .pic4{top:50px;left:260px;z-index:4;}
#pic ul .pic5{top:80px;left:436px;z-index:3;}
#pic ul .pic6{top:110px;left:700px;z-index:2;}
#pic ul .pic7{top:-180px;left:696px;z-index:1;}
/*图片A标签width和height*/
#pic ul .pic1 a{height:60px;width:96px;}
#pic ul .pic2 a{height:180px;width:288px;}
#pic ul .pic3 a{height:240px;width:384px;}
#pic ul .pic4 a{height:300px;width:480px;}
#pic ul .pic5 a{height:240px;width:384px;}
#pic ul .pic6 a{height:180px;width:288px;}
#pic ul .pic7 a{height:180px;width:288px;}
/*图片明暗*/
#pic ul li.pic1{opacity:0.2;filter:alpha(opacity:20);}
#pic ul li.pic2{opacity:0.6;filter:alpha(opacity:60);}
#pic ul li.pic3{opacity:0.9;filter:alpha(opacity:90);}
#pic ul li.pic4{opacity:1;filter:alpha(opacity:100);}
#pic ul li.pic5{opacity:0.9;filter:alpha(opacity:90);}
#pic ul li.pic6{opacity:0.6;filter:alpha(opacity:60);}
#pic ul li.pic7{opacity:0.2;filter:alpha(opacity:20);}
/*图片width*/
#pic ul li.pic1 img{width:96px;}
#pic ul li.pic2 img{width:288px;}
#pic ul li.pic3 img{width:384px;}
#pic ul li.pic4 img{width:480px;}
#pic ul li.pic5 img{width:384px;}
#pic ul li.pic6 img{width:288px;}
#pic ul li.pic7 img{width:288px;}

/*箭头部分*/
#pic span{display:inline-block;*display:inline;*zoom:1;width:80px;height:80px;position:absolute;top:160px;z-index:30;cursor:pointer;opacity:0.7;filter:alpha(opacity=70);}
#pic:hover span{opacity:1;filter:alpha(opacity=100);}
#pic span img{width:80px;height:80px;display:block;}
#pic span.prev{left:200px;}
#pic span.next{right:120px;}
/*.pic{*/
    /*-webkit-box-reflect: below -60px ;*/
    /*-webkit-linear-gradient(top,rgba(250,250,250,.2),rgba(250,250,250,.2) 30%,rgba(250,250,250,.5));*/
/*}*/

.section4-inner span{
    display: block;
    position: absolute;
    font-family: cursive;
    font-size: 26px;
    /*color: #fff;*/
    /*text-shadow: 1px 1px rgba(197, 223, 248,0.8),2px 2px rgba(197, 223, 248,0.8),3px 3px rgba(197, 223, 248,0.8),4px 4px rgba(197, 223, 248,0.8),5px 5px rgba(197, 223, 248,0.8),6px 6px rgba(197, 223, 248,0.8);*/
    text-shadow: -1px -1px white,1px 1px #333;
    color:#D1D1D1;
    z-index: 999;
    /*font-weight: bold;*/
    /*display: none;*/
}
.section4-inner-l{
    bottom: 150px;
    left:-300px;
    display: none;
}
.section4-inner-center{
    bottom: 100px;
    left:-550px;
    display: none;
}
.section4-inner-r{
    bottom: 50px;
    left: -800px;
    display: none;
}
@keyframes left1{
     0%{
         left:-300px;
     }
     100%{
         left:300px;
     }
 }
@keyframes center{
    0%{
        left:-550px;
    }
    100%{
        left:550px;
    }
}
@keyframes right1{
    0%{
        left:-800px;
    }
    100%{
        left:800px;
    }
}
.left1{
    animation: left1 1s forwards ease 0s;
    display: block;
}
.center{
    animation: center 1s forwards ease .5s;
    display: block;

}
.right1{
    animation: right1 1s forwards cubic-bezier(.71,.26,.07,.71) 1s ;
    display: block;
}




/*第五页*/
.section5-l{
    position: absolute;
    top:0;
    bottom:-200px;
    margin: auto;
    right:0px;
    width: 200px;
    height: 250px;
    /*box-shadow: 8px 24px 2px rgba(100%,0%,0%,0.4),*/
            /*16px -4px 2px rgba(0%,100%,0%,0.4),*/
            /*24px 12px 2px rgba(0%,0%,100%,0.4),*/
    /*20px 20px 4px rgb(255, 141, 104),-20px -20px 10px rgb(255, 94, 24) inset;*/
    /*background: rgba(255, 208, 56, 0.87);*/
}
.section5-l ul li{
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: relative;
    font-size: 16px;
    font-family:cursive; ;
    animation: show5 3s linear;
    cursor: pointer;
    margin-top: 1px;
}
.section5-l .weixin,.qq,.phone,.qqyoux{
    width: 100%;
    height: 100%;
    position: absolute;
    left:140px;
    top:0;
    background: rgba(43, 37, 255, 0.73);
    transition: 2s;
}
.section5-l .weixin:hover{
    left: 0;
}
.section5-l .qq:hover{
    left: 0;
}
.section5-l .phone:hover{
    left: 0;
}
.section5-l .qqyoux:hover{
    left: 0;
}
.section5-l ul li i{
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-family: iconfont;
    font-size: 30px;
}

.section5-l ul li span{
    /*padding-left: 0px;*/
    width: 140px;
    height: 60px;
    display: block;
    float: right;
    text-align: left;
    font-family: comic sans ms;
}
.section5-scene{
    width: 100%;
    height: 100%;
    perspective-origin:top left;
    perspective: 1800px;
}
.section5-box{
    width: 900px;
    height: 500px;
    margin: 100px auto;
    position: relative;
    /* 设置所有的子元素都以3d的形式去展示 */
    transform-style: preserve-3d;
    transition: all 2s;

}

.section5-box li{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 100px;
    background: url("../img/1.jpg");
}

.section5-box li:nth-child(1){
    background: url("../img/51.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    transform:rotateY(0deg) translateZ(294.8px);
}
.section5-box li:nth-child(2){
    background: url("../img/52.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    transform:rotateY(40deg) translateZ(294.8px);
}
.section5-box li:nth-child(3){
    background: url("../img/53.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    transform:rotateY(80deg) translateZ(294.8px);
}
.section5-box li:nth-child(4){
    background: url("../img/54.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    transform:rotateY(120deg) translateZ(294.8px);
}
.section5-box li:nth-child(5){
    background: url("../img/55.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    transform:rotateY(160deg) translateZ(294.8px);
}
.section5-box li:nth-child(6){
    background: url("../img/56.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    transform:rotateY(200deg) translateZ(294.8px) ;
}
.section5-box li:nth-child(7){
    background: url("../img/57.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    transform:rotateY(240deg) translateZ(294.8px) ;
}
.section5-box li:nth-child(8){
    background: url("../img/58.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    transform:rotateY(280deg) translateZ(294.8px);
}
.section5-box li:nth-child(9){
    background: url("../img/59.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    transform:rotateY(320deg) translateZ(294.8px) ;
}
@keyframes box {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
@font-face {
    font-family: 'iconfont';  /* project id 468923 */
    src: url('https://at.alicdn.com/t/font_468923_vmj4pnqhun2ke29.eot');
    src: url('https://at.alicdn.com/t/font_468923_vmj4pnqhun2ke29.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_468923_vmj4pnqhun2ke29.woff') format('woff'),
    url('https://at.alicdn.com/t/font_468923_vmj4pnqhun2ke29.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_468923_vmj4pnqhun2ke29.svg#iconfont') format('svg');
}
.iconfont{

    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;

}
.section5-box li i{
    display: block;
    font-size: 26px;
    color: green;
    font-family:iconfont ;
}
.section5-box li span{
    display: block;
    font-size: 22px;
    color: #000;
}
