

.iconfont{

    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
   
}
@font-face {
  font-family: 'iconfont';  /* project id 407468 */
  src: url('https://at.alicdn.com/t/font_407468_6i36l1nzwhzolxr.eot');
  src: url('https://at.alicdn.com/t/font_407468_6i36l1nzwhzolxr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_407468_6i36l1nzwhzolxr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_407468_6i36l1nzwhzolxr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_407468_6i36l1nzwhzolxr.svg#iconfont') format('svg');
}
body{
	background: #f8f8f8;
}
header{
	width: 100%;
	height: 160px;
	/* background: red; */
}
.header-top{
	width: 1000px;
	height: 100px;
	/* background: pink; */
	margin: 0 auto;
	position: relative;
}
.header-btom{
	width: 100%;
	height: 60px;
	background: #000;
}
.header-logo{
	width: 267px;
	height: 61px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
.header-btom-wenzi{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	/* background: #fff; */
	

}
.header-btom-wenzi a{
	width: 110px;
	height: 60px;
	color: #fff;
	margin-right: 63px;
	font-size: 16px;
	display:inline-block;
	line-height: 60px;
	text-align: center;
}
.header-btom-wenzi a:hover{
	background: #fff;
	color: #000;
}
.header-btom-wenzi a:nth-child(6){
	margin-right: 0;
}


/* banner图 */
.banner{
	width: 100%;
	height: 450px;
	background-image: url('../img/banner.jpg');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.content{
	width: 1000px;
	height: 598px;
	background: #fff;
	margin: 0 auto;
	padding-top: 20px;
}
.content-top{
	width: 100%;
	height: 80px;
	/* background: #000; */
}
.content-btom{
	width: 100%;
	height: 470px;
	/* background: red; */
	margin-top: 20px;	
}
.btom-row1{
	width:100%;
	height: 220px;
	line-height: 220px;
	float: left;
	margin-top: 12px;
}
.btom-row1 ul li{
	width: 235px;
	height: 220px;
	float: left;
	margin-left: 12px;
	position: relative;
}
.btom-row1 .zhezhao{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	position: absolute;
	left: 0;
	top: 0;
	transition: 1s;
	

}

.btom-row1 .zhezhao:hover{
	background: rgba(0, 0, 0, .5);
}



.btom-row1 .row-img1{
	width: 482px;
	height: 220px;
	float: left;
	margin-left: 12px;
	position: relative;
}
.row-img1 .zhezhao{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	position: absolute;
	left: 0;
	top: 0;
	transition: 1s;
	

}
.btom-row1 .row-im2{
	width: 235px;
	height: 220px;
	float: left;
	margin-left: 12px;
	position: relative;
}
.btom-row1 .zhezhao{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	position: absolute;
	left: 0;
	top: 0;
	transition: 1s;
	

}
/* 宠物用品 */
.use{
	width: 1000px;
	height: 390px;
	margin: 0 auto;
	margin-top: 30px;
	padding-top: 20px;
	background: #fff;

}
.use-btom{
	width: 972px;
	height: 260px;
	margin: 0 auto;
	margin-top: 10px;
}
.use-btom a{
	display: block;
	float: left;
	width: 230px;
	height: 240px;
	margin-top: 10px;
	margin-right:17px;
}
.use-btom a:nth-child(4){
	margin-right: 0;
}


/* 受宠聚焦*/
.petfocus{
	width: 1000px;
	height: 486px;
	margin: 0 auto;
	margin-top: 20px;
	padding-top: 20px;
	background: #fff;
}
.petfocus-btom{
	width: 100%;
	height: 400px;
	/* background: pink; */
	margin-top: 10px;
}
.petfocus-btom-l{
	width: 347px;
	height: 351px;
	float: left;
	margin-top: 25px;
}
.petfocus-btom-wenzi{
	width: 650px;
	height: 375px;
	/* background: yellow; */
	float: right;
	padding: 0 20px;
	
}
.petfocus-btom-wenzi1{
	width: 100%;
	height: 100px;
	border-bottom: 1px dotted #999;
	margin-top: 25px;
}
.w1{
	width: 100%;
	height: 23px;
	
	
}
.w1 a{
	display:block;
	font-size: 14px;
	float: left;
	line-height: 23px;
	color: #000;
}
.w1 a:hover{
	color: blue;
}
.w1 a:active{
	color: orange;
}
.w1 span{
	display: inline-block;
	font-size: 14px;
	float: right;
}
.w2{
	width: 100%;
	height: 40px;
}
.w2 p{
	font-size: 14px;
	color: #888;
}

/* 底部栏 */
.foot{
	width: 100%;
	height: 122px;
	background: #000;
	margin-top: 40px;
}
.foot .footer{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	/* background: red; */
	padding: 20px 0;
	overflow: hidden;
}
.footer-info1{
	width: 100%;
	height: 22px;
	/* background: pink; */
	margin-bottom: 7px;
}
.info1-l{
	width: 270px;
	height: 26px;
	float: left;
	font-size: 12px;
	line-height: 26px;
	color: #888;
}
.info1-r{
	height: 22px;
	float: right;

}
.info1-r a{
	display: block;
	float: left;
	color: #888;
	font-size: 12px;
	margin-right: 5px;
	line-height: 22px;
}
.footer-info2{
	width: 100%;
	height: 22px;
	overflow: hidden;
}
.info2-l {
	/* width: 270px; */
	/* height: 26px; */
	float: left;
	font-size: 12px;
	line-height: 22px;
	color: #888;

}
.info2-r {
	float: right;
	font-size: 12px;
	line-height: 22px;
	color: #888;
}
.info3-r span{
	font-size: 12px;
	line-height: 22px;
	margin-right: 5px;
	color: #888;
}
.foot a:hover{
	color: #fff;
}




/* 右侧栏开始 */
.form{
	width: 170px;
	height: 349px;
	background: #fff;
	border: 1px solid #ccc;
	position: fixed;
	right: -170px;
	top: 100px;
	overflow: hidden;	
	transition: all 1s;
}

.form .from-top{
	width:170px;
	height: 34px;
	background: rgba(0, 0, 0, .8);
	text-align: center;
	line-height: 34px;
	color: #fff;
	padding: 0 10px;

}
.form .from-top span:nth-child(1){
	float: left;
}
.form .from-top span:nth-child(2){
	width: 15px;
	height: 15px;
	float: right;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	margin-top:11px;
	line-height: 12px;
}
.form .from-top span:nth-child(2):hover{
	background:#ccc;
}
.form ul{
	width: 100%;
	height: 100%;
	padding: 0 10px;

}
.form ul li{
	width: 170px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	margin: 5px 0 5px 0;
	cursor: pointer;
	user-select: none;
}
.form ul li:nth-child(1) i{
	color: green;
}
.form ul li:nth-child(2) i{
	color: lightblue;
}
.form ul li:nth-child(3) i{
	color: blue;
}
.form ul li:nth-child(4) i{
	color: deeppink;
}
.form ul li:nth-child(5) i{
	color: yellow;
}
.form ul li:nth-child(6) i{
	color: orange;
}
.form ul li:nth-child(7) i{
	color: lightblue;
}
.form ul li:nth-child(8) i{
	color: hotpink;
}
.form ul li:nth-child(9) i{
	color: blue;
	font-size: 16px;
}
.form .feixiang{
	width: 25px;
	height: 108px;
	position: fixed;
	background: #333;
	top: 227px;
	right: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 2px;
	padding-top: 5px;
	cursor: pointer;
	transition: all 1s;
}
.form .feixiang span:nth-child(1){
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 18px;
	float: left;
}
.form .feixiang span:nth-child(2){
	width: 25px;
	height: 25px;
	background: url('../img/floata_gray3.gif');
	float: right;
	background-position: -122px 0;
}